:root {
    --main-font: "Charter", serif;
    --primary: #5e60ce;
    --font-family: 'Segoe UI', system-ui, sans-serif;
}

body {
    background-color: #dadaf3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 5vh;
    font-family: var(--main-font); /*for inheriting the font*/
    font-optical-sizing: auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

.form-group input {
    width: 200px;
    padding: 5px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1vh;
}

label {
    color: #393ba0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #242684;
    padding: 1vh 2vw;
}

.nav-links {
    margin-right: 1vw;
    margin-left: 1vw;
    display: flex;
    gap: 5vw;
    flex-grow: 1;
}

.nav-links a {
    text-decoration: none;
    color: #4647ab;
    font-weight: 500;
    font-size: 2.5vh;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #000;
}

h1 {
    color:#393ba0;
    text-align: center;
    position: static;
    top: 2vh;
    font-size:15vh;
    margin: 5vh 0 3vh 0;
}

h2 {
    color:#393ba0;
    position: static;
    top: 25vh;
    left: 5%;
    font-size:9vh;
    margin: 5vh 0 3vh 0;
}

/* buttons */

#signupButton:enabled {
    border: 2px solid #8a8ac7;
    display: block;
    margin: 10px auto;
    padding: 10 20;
    color: #393ba0;
    background-color: #ffffff;
    cursor: pointer;
  }

  #signupButton:disabled {
    border: 2px solid #8a8ac7;
    display: block;
    margin: 10px auto;
    padding: 10 20;
    color: #393ba0;
    background-color: #8a8ac7;
  }

#loginButton:enabled {
    border: 2px solid #8a8ac7;
    display: block;
    margin: 10px auto;
    padding: 10 20;
    color: #393ba0;
    background-color: #ffffff;
    cursor: pointer;
  }

  #loginButton:disabled {
    border: 2px solid #8a8ac7;
    display: block;
    margin: 10px auto;
    padding: 10 20;
    color: #393ba0;
    background-color: #8a8ac7;
  }

  #redirectButton{
    background-color: #ffffff;
    color: #393ba0;
    cursor: pointer;
  }

/* fonts */

.charter-bold {
    font-family: var(--main-font);
    font-weight: 1000;
    font-optical-sizing: auto;
    font-style: normal; 
}

button, input, textarea {
    border: 2px solid #8a8ac7;
    transition: border-color 0.3s ease;
    font-family: var(--main-font); /*for inheriting the font*/
    font-optical-sizing: auto;
    text-decoration: none;
}

/*email*/

.email-container {
    display: flex;
    width: 100%;
  }

  .email-container input {
    flex: 2;
    padding: 5px;
    height: auto;
  }

  .email-container button {
    flex: 1;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #ffffff;
    color: #393ba0;
  }